<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <h1>Add New Recipe</h1>
    <form action="/recipes" method="POST">
        <label for="title">Title:</label>
        <input type="string" id="title" name="recipe[title]" required><br>
        <label for="time">Time:</label>
        <input type="number" id="time" name="recipe[time]" required><br>
        <label for="difficulty">Difficulty:</label>
        <input type="number" id="difficulty" name="recipe[difficulty]" required><br>
        <label for="ingredients">Ingredients:</label>
        <textarea type="string" id="ingredients" name="recipe[ingredients]" required></textarea><br>
        <label for="instructions">Instructions:</label>
        <textarea type="string" id="instructions" name="recipe[instructions]" required></textarea><br>
        <button type="submit">Create Recipe</button>
    </form>
    <a href="/">Back to Recipes</a>
</body>
</html>


